@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    color: #2e2e31;
    font-family: 'Montserrat', 'sans serif';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #ffffff;
    padding: 20px 0;
    width: 100vw;
    justify-content: flex-end;
    box-shadow: 0 0 29px 0 rgba(134, 134, 134, 0.25);
}

/*-------------------------
        TEXTOS
-------------------------*/

p {
    text-align: center;
    margin: 20px 0;
}

h1, h3 {
    text-align: left;
}

h1 {
    font-family: 'Allura';
    font-weight: 900;
    font-size: 75px;
    color: #009c86;
    text-shadow: 2px 2px 4px #424242;
}

h2, h3 {
    font-weight: 900;
}

h2 {
    font-size: 45px;
    text-align: center;
}

h3 {
    font-size: 30px;
    color: #424242;
    margin: 90px 0 10px 0;
}

/*--------------------------------
        NAV BAR GENERAL
----------------------------------*/
ul {
    list-style-type: none;
    align-items: flex-end;
}

a {
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

/*--------------------------------
        NAV BAR HEADER
----------------------------------*/
.nav-header {
    margin-right: 10%;
    color: #483d8b;
}

.menu-header, .menu-proyectos, .menu-footer {
    margin: 10px;
    padding: 10px;
}

#icono-burger {
    display: none;
}

/*--------------------------------
    MENU DESPLEGABLE MOBILE
----------------------------------*/
.contenedor-barra-mobile {
    display: flex;
    z-index: 1;
    position: absolute;
    top: -250px;
    right: 0;
    transition: 1s;
}

.barra-mobile {
    background-color: rgba(250, 250, 250, 0.6);
    display: flex;
    flex-direction: column;
}

.menu-desplegado {
    right: 0;
    top: 70px;
}

/*--------------------------------
        DISPLAY FLEX
----------------------------------*/

.seccion-hola, .contenedor-hola, .botonera-proyectos, ul, nav, .seccion-quote, .div-quote, .contenedor-proyectos, .seccion-footer, .div-contacto, header, .contenedor-skills, .seccion-skills {
    display: flex;
}

/*--------------------------------
        SECCIÓN HOLA
----------------------------------*/

.seccion-hola {
    justify-content: center;
    align-items: center;
}

.contenedor-hola {
    width: 90%;
    padding: 90px 30px 100px 30px;
}

.texto-hola {
    width: 60%;
    padding: 30px;
}

.img-hola {
    width: 40%;
}

.p-hola {
    text-align: left;
    color: #607b82;
    margin: 16px 0 40px 0;
}

/*--------------------------------
        SECCIÓN SKILLS
----------------------------------*/

.seccion-skills {
    background-color: #d3faf540;
    padding: 45px;
    align-items: center;
    flex-direction: column;
}

/* -- CAJA DE TARJETAS -- */

.contenedor-skills {
    width: 80%;
    margin-top: 40px;
    padding: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

/* -- CAJA DE CADA TARJETA -- */
.skills {
    background-color: #fafafa;
    border: 1px #dddfe5 solid;
    border-radius: 10px;
    width: 260px;
    height: 229px;
    margin: 10px;
    padding: 30px;
    color: #2e2e31;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-skills { 
    margin: 20px 60px 20px 60px;
}

.texto-skills {
    padding: 10px 220px;
}

.h2-skills {
    margin-top: 100px;
}

.p-titulo-skills {
    font-weight: 700;
    font-size: 20px;
}

/*--------------------------------
        SECCIÓN QUOTE
----------------------------------*/
.seccion-quote {
    background: rgb(0,223,192);
    background: linear-gradient(180deg, rgba(0,223,192,1) 0%, rgba(27,70,61,1) 94%, rgba(0,156,134,1) 99%);
    color: #fafafa;
    width: 100vw;
    padding: 100px 40px 100px;
    justify-content: center;
}

.div-quote {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.p-quote {
    font-family: 'Allura';
    font-size: 35px;
    margin: 10px 100px;
}

.h3-quote {
    font-family: 'Allura';
    font-size: 60px;
    color: #fafafa;
    padding-bottom: 20px;
    font-weight: normal;
}

.img-quote {
    width: 15%;
    padding-bottom: 80px;
}

.ico-quote {
    font-size: 80px;
    margin-bottom: 60px;
}

/*--------------------------------
        SECCIÓN PROYECTOS
----------------------------------*/

.seccion-proyectos {
    background-color: #d3faf526;
    padding: 45px;
}

/* -- MENÚ -- */
.botonera-proyectos {
    justify-content: center;
    padding: 20px 0;
    margin: 45px auto 10px auto;
}

.menu-proyectos {
    font-size: 16px;
    background-color: #fafafa;
    border: none;
    padding: 15px 40px;
    text-decoration: none;
    border-radius: 25px;
    transition: 0.4s;
}

.menu-proyectos:hover {
    background-color: #007b67;
    border-radius: 25px;
    color: #d3faf5;
}

.button {
    background-color: #007b67;
    border-radius: 25px;
    color: #d3faf5;
    padding: 10px 40px;
}

/* -- CAJA DE TARJETAS -- */
.contenedor-proyectos {
    display: flex;
    margin-top: 40px;
    padding: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

/* -- CAJA DE CADA TARJETA -- */
.proyectos {
    background-color: #fafafa;
    border: 1px #dddfe5 solid;
    border-radius: 10px;
    width: 330px;
    height: 287px;
    margin: 10px;
    padding: 30px;
    color: #2e2e31;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-proyectos {
    margin: 5px 35px 5px 35px;
    object-position: center;
}

.h2-proyectos {
    margin-top: 100px;
}

.p-titulo-proyectos {
    font-weight: 700;
    font-size: 16px;
    margin-top: 0;
}

/*--------------------------------
            FOOTER
----------------------------------*/
.seccion-footer {
    background-color: #009c86;
    padding: 45px;
    flex-direction: column;
}

/* -- MENÚ -- */
.nav-footer {
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    margin: 10px auto 10px auto;
}

.menu-footer {
    font-size: 14px;
    color: #00dfc0;
}

/* -- LOGOS -- */
.div-contacto {
    justify-content: center;
}

.img-contacto {
    width: 80px;
    padding: 10px;
    margin: 10px;
}

/* -- TEXTO -- */
.span-footer {
    color: #fafafa;
}

.amor {
    color: #00dfc0;
    font-size: 18px;
}


/*-------------------------
    @MEDIA TABLETS
-------------------------*/
@media (min-width: 600px) and (max-width: 900px) {

    /*--------------------------------
            NAV BAR HEADER
    ----------------------------------*/

    .nav-header {
        margin-right: 5%;
    }
   
    .menu-header {
        font-size: 16px;
    }
   
    /*--------------------------------
            SECCIÓN HOLA
    ----------------------------------*/

    .seccion-hola, .contenedor-hola, .texto-hola, .texto-hola ul {
        justify-content: center;
        align-items: center;
    }

    .contenedor-hola {
        flex-wrap: wrap;
    }

    .texto-hola {
        padding: 5px;
        width: 100vw;
    }

    .img-hola {
        width: 70%;
        margin-top: 20px;
    }

    /*-------------------------
            TEXTOS
    -------------------------*/

    .p-hola, h1, h3 {
        text-align: center;
    }

    h1 {
        font-size: 72px;
    }

    h3 {
        font-size: 25px;
    }

    /*--------------------------------
            SECCIÓN SKILLS
    ----------------------------------*/

    /* -- CAJA DE TARJETAS -- */
    .contenedor-skills {
        width: 100%;
    }

    .texto-skills {
        padding: 10px 100px;
    }

    /*--------------------------------
            SECCIÓN PROYECTOS
    ----------------------------------*/

    /* -- CAJA DE TARJETAS -- */

    .contenedor-proyectos {
        padding-left: 0;
        padding-right: 0;
    }

}

/*-------------------------
    @MEDIA CELULARES
-------------------------*/
@media (max-width: 599px) {

    /*--------------------------------
            NAV BAR HEADER
    ----------------------------------*/

    #ul-header {
        display: none;
    }

    #icono-burger {
        display: block;
        font-size: 30px;
        color: #007b67;
    }

    /*--------------------------------
            SECCIÓN HOLA
    ----------------------------------*/

    .seccion-hola, .contenedor-hola, .texto-hola, .texto-hola ul {
        justify-content: center;
        align-items: center;
    }

    .contenedor-hola {
        flex-wrap: wrap;
        margin-top: 0;
        padding: 0 0 30px 0;
    }

    .texto-hola {
        padding: 5px;
        width: 100vw;
    }

    .img-hola {
        width: 70%;
        margin: 20px;
    }
    
    .p-hola, h1, h3 {
        text-align: center;
    }

    /*--------------------------------
            TEXTOS
    ----------------------------------*/   

    h1 {
        font-size: 60px;
    }

    h3 {
        font-size: 20px;
    }

    h2 {
        font-size: 30px;
    }

    /*--------------------------------
            SECCIÓN SKILLS
    ----------------------------------*/

    /* -- CAJA DE TARJETAS -- */
    .contenedor-skills {
        width: 100%;
        padding: 5px;
    }

    .texto-skills {
        padding: 10px 10px;
        margin: 10px;
        font-size: 16px;
    }
    
    /*--------------------------------
            SECCIÓN QUOTE
    ----------------------------------*/
    .p-quote {
        margin: 10px 50px;
    }

    .h3-quote {
        font-size: 50px;
    }

    /*--------------------------------
            SECCIÓN PROYECTOS
    ----------------------------------*/
    .seccion-proyectos {
        padding-left: 10px;
        padding-right: 10px; 
    }
    
    .botonera-proyectos {
        padding-top: 10px;
        padding-bottom: 0;
        flex-wrap: wrap;
    }
    
    /* -- MENÚ -- */
    .menu-proyectos {
        font-size: 14px;
    }

    /* -- CAJA DE TARJETAS -- */
    .contenedor-proyectos {
        padding-left: 0;
        padding-right: 0;
        padding-top: 5px;
    }
    
    /* -- CAJA DE CADA TARJETA -- */
    .proyectos {
        width: 230px;
        height: 230px;
        margin: 10px;
        padding: 10px;
    }

    /*--------------------------------
                FOOTER
    ----------------------------------*/
    /* -- MENÚ -- */
    .nav-footer {
        display: none
    }

    .img-contacto {
        width: 55px;
    }

    .amor {
        font-size: 14px;
    }

}

/*-------------------------
    BÚSQUEDAS Y FILTROS
-------------------------*/
.hidden {
    display: none;
}


/*-------------------------
    PALETA DE COLORES
-------------------------*/

/*Male acá armé la paleta de colores, simulando una clase, para tener todos los códigos HEX/RGB juntos*/

.cupetín-de-colores {
    color: #009c86; /*pc*/
    color: #007b67; /* rgb(0,123,103); 006754; /*pad*/
    color: #607b82; /* rgb(96,123,130); /*pantalla*/
    color: #00dfc0; /* rgb(0,223,192); /*iconos laterales*/
    color: #d3faf5; /*data bases*/
    color: #483d8b; /*violeta complementario*/
    color: rgb(0,128,128);
    color: rgb(19,81,68); /*verde oscuro*/
    color: rgb(64,81,85); /*gris oscuro*/
    color: #a8f0df; /*teal muy clarito*/
}

/*-------------------------
        @Luzyla
-------------------------*/